<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=3.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's my stock Prices?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's my stocks price?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form action="/" method="post">
                        <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock’s Symbol" type="text">
                        </div>
                        <br>
                        <button class="btn btn-primary" type="submit" name="form-name" value="form1">Add Stock</button>
                        <br>
                        <br>
                        <button class="btn btn-primary" type="submit" name="form-name" value="form2">Remove Stock</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div >
                <div >
                    
                    <table class="table table-striped" >
                        <thead>
                          <tr>
                            <th>Symbol</th>    
                            <th>Name</th>     
                            <th>Highest Price of Past 52 Weeks</th>
                            <th>Lowest Price of Past 52 Weeks</th>
                            <th>Current Price</th>
                            <th>US Market Open</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in prices %}
                          <tr>
                            <td>{{item.symbol}}</td>
                            <td>{{item.name}}</td>
                            
                            <td>{{ item.high | usd}}</td>
                            <td>{{ item.low | usd}}</td>
                            <td>{{ item.price | usd}}</td>
                            <td>{{item.market}}</td>
                            
                          </tr>
                          {% endfor %}
                         
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </section>
    <footer class="small text-center text-muted">
        Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.
    </footer>
</body>

</html>